BODY {
	background-color:#CCCCCC;
	margin-left:0px;
	margin-right:0px;
	margin-top:0px;
	margin-bottom:0px;
	padding-left:0px;
	padding-right:0px;
	padding-top:0px;
	padding-bottom:0px;
}
TABLE#BodyTable {
	width:100%;
	margin-left:0px;
	margin-right:0px;
	margin-top:0px;
	margin-bottom:0px;
	padding-left:0px;
	padding-right:0px;
	padding-top:0px;
	padding-bottom:0px;
	
}

TABLE#FaultTreeOverviewTable 
{
    background-color:#FFF;  
	width:100%;
	margin-left:0px;
	margin-right:0px;
	margin-top:0px;
	margin-bottom:0px;
	padding-left:0px;
	padding-right:0px;
	padding-top:0px;
	padding-bottom:0px;
}
TABLE#FaultTreeOverviewTable Td
{
    border: 1px solid #000;
    text-align: center;
	
}

TABLE#MenuTable {
	background-color:#007F0E;  
	width:100%;
	margin-left:0px;
	margin-right:0px;
	margin-top:0px;
	margin-bottom:0px;
	padding-left:0px;
	padding-right:0px;
	padding-top:0px;
	padding-bottom:0px;
}
TABLE#LinkTable {
	width:100%;
	margin-left:0px;
	margin-right:0px;
	margin-top:0px;
	margin-bottom:0px;
	padding-left:0px;
	padding-right:0px;
	padding-top:0px;
	padding-bottom:0px;
}

TABLE#TopEventDataTable {
	margin-left:0px;
	margin-right:0px;
	margin-top:0px;
	margin-bottom:0px;
	padding-left:0px;
	padding-right:0px;
	padding-top:0px;
	padding-bottom:0px;
}

TD.TopEventsData {
	background-color:#FFFFFF;
	border-style:solid;
	border-width:2;
	border-color:#000000;
	padding-right:5px;
	padding-left:5px;
}

TD.TopEventsLabel {
	vertical-align:top;
	border-style:none;
	white-space:nowrap;
	padding-left:5px;
	padding-right:5px;
	
}

TABLE#ContentTable {
	width:100%;
	margin-left:0px;
	margin-right:0px;
	margin-top:0px;
	margin-bottom:0px;
	padding-left:0px;
	padding-right:0px;
	padding-top:0px;
	padding-bottom:0px;
	background-color:#666666;
	
}

TABLE#CutSetTable {
	width:100%;
	 border-color:#000000;
	 border-width:1px;
	 border-style:solid;
	 white-space:nowrap;
	 text-align:left;
	margin-left:0px;
	margin-right:0px;
	margin-top:0px;
	margin-bottom:0px;
	padding-left:0px;
	padding-right:0px;
	padding-top:0px;
	padding-bottom:0px;	 
}

TABLE#CutSetTable TD {
	 
	 border-color:#000000;
	 border-width:1px;
	 border-style:solid;
		 
}

TABLE#FMEATable {
	width:100%;
	 border-color:#000000;
	 border-width:1px;
	 border-style:solid;
	 white-space:nowrap;
	 text-align:left;
	margin-left:0px;
	margin-right:0px;
	margin-top:0px;
	margin-bottom:0px;
	padding-left:0px;
	padding-right:0px;
	padding-top:0px;
	padding-bottom:0px;	 
}

TABLE#FMEATable TD {
	 
	 border-color:#000000;
	 border-width:1px;
	 border-style:solid;
		 
}
TR.ComponentHeader {
	 color:#FFFFFF;
	 text-align:center;
	 font-weight:bold;
	 
	
}
TR.DataRow {
	 background-color:#FFFFFF;
	 vertical-align:top;
	 
	 
	
}
TR.DataRow TD {
	padding:2px;
	white-space:nowrap;
	 text-align:left;
	
}

TR.AsilDataRow {
	 background-color:#FFFFFF;
	 vertical-align:top;
	 
	 
	
}
TR.AsilDataRow TD {
	padding:2px;
	white-space:nowrap;
	 text-align:center;
	
}

TR.HeaderRow {
	 background-color:#d4d0c8;
	
}

TR.AsilHeaderRow {
	 background-color:#d4d0c8;
	
}
TR #AsilTitle {
	 background-color:#000000;
	
}

TR #AsilTitle TD 
{
    color:#FFFFFF;
	 text-align:center;
	 font-weight:bold;
	 padding:5px;
	
	 white-space:normal;
	
}

TR.AsilHeaderRow TD 
{
    text-align:center;
	 
	 padding:5px;
	
	 white-space:normal;
	
}

TABLE#tblMenuBar {
border-style:none;
}
TR.MenuRow {
	background-color:#007F0E;
}


TABLE#tblMenuBar TD { color:white; padding:0px 5px 0px 5px; cursor:default; }
TABLE#tblMenuBar TD.clsMenuBarItem { font-weight:bold; }
TABLE#tblMenuBar TD.clsMenuBarItem A { text-decoration:none; color:white; font-weight:bold; }
TABLE#tblMenuBar TD.clsMenuBarItem A:hover { color:#6699CC; }
DIV.clsMenu {
	background-color:#007F0E;
	position:absolute; visibility:hidden; width:170px;
	padding:5px 5px 5px 8px; border-top:1 white solid;
}
DIV.clsMenu A { 
	text-decoration:none; 
	color:white; 
	font-weight:bold; 
}
DIV.clsMenu A:hover { 
	color:#6699CC; 
}

DIV#MenuTitle 
{
    float:left;
    color:white; 
   /* font-weight:bold; */
    margin-right:auto;
    margin-left:200;
    margin-top:15;
    font-size:large;
}
DIV#hipHop {
	color:white; 
	float:left;
}
DIV#hipHop A { 
	text-decoration:none; 
	color:white; 
}
DIV#hipHop A:hover { 
	color:#6699CC; 
}
SPAN.TreeviewSpanArea A {
 text-decoration: none;
color: black
 }
 SPAN.TreeviewSpanArea A:hover {
      color: #820082;
 }

  
 .DataCell {
 	white-space:nowrap;
 }
 .FailureModesCell
 {
	background-color:#ffffff;
	clear:both;
	white-space:nowrap;
 }
  .FailureModesCell IMG
  {
	float:left;
	clear:left;
	
  }
   .FailureModesCell DIV
  {
	float:left;
	padding-top:1px;
  }
  
 .EffectsCell
 {
 background-color:#ffffff;
 padding-bottom:5px;
 padding-top:5px;
 
 }
 
TABLE#TreeViewTable {
	border-style:solid;
	border-width:2;
	border-color:#000000;
	padding:200;
	height:100%;
	background-color:#FFFFFF;
	vertical-align:top;
	width: 100%;
}

A#TreeViewLink {
	text-decoration:none;
	color:silver;
}
SPAN.TreeviewSpanArea A {
 text-decoration: none;
color: black
 }
 SPAN.TreeviewSpanArea A:hover {
      color: '#820082';
 }
 
 Table#EventsTable Td {
	 
	 border-color:#000000;
	 border-width:1px;
	 border-style:none;
		 
}

#logosTable TD 
{
   padding:0px 0px 0px 0px;
      
}
TD#logosCell
{
    float:right;
	
}